<div class="row center-xs social-links">
  <div class="col-xs-6 col-sm-3 col-md-3">
    <a class="facebook" href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">
      <i class="fa fa-facebook-official fa-4x"></i>
      <span class="social-title">Facebook</span>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-3">
    <a class="twitter" href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">
      <i class="fa fa-twitter fa-4x"></i>
      <span class="social-title">Twitter</span>
    </a>
  </div>
</div>
